body {
    background: url('./icecream_cone.jpg') no-repeat center center fixed;
    text-align: center;
    background-size: cover;
}
p {
    font-size: 48px;
}

.container {
    background-color: rgba(240, 255, 255, 0.7);
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    
}

.show {
    margin: 10px;
}

.navbar {
    background-color: azure;
}
.btn {
    background-color: azure;
    padding: 10px;
    border-style: hidden;
}

#content {
    text-align: center;

}